<%- include("partials/header") %>
<%- include("partials/sidebar.ejs") %>

<main>
  <section style="width: 800px;">
    <% if (receta) { %>
      <div class="main-header">
        <div class="image">
          <img src="<%= receta.imagen %>" alt="<%= receta.titulo %>" class="mb-4" />
        </div>
        <div class="ingredientes">
          <div>
            <h2>Ingredientes</h2>
          <ul>
            <% receta.ingredientes.forEach((ing, idx) => { %>
              <li>
                <input type="checkbox" id="ingrediente-<%= idx %>" />
                <label for="ingrediente-<%= idx %>"><%= ing.trim() %></label>
              </li>
            <% }) %>
          </ul>
          </div>
        </div>
      </div>

      <div class="main-body">
        <h1><%= receta.titulo %></h1>
        <div class="text">
          <p><%= receta.receta %></p>
        </div>
      </div>
    <% } else { %>
      <p>Receta no encontrada.</p>
    <% } %>
  </section>

  <!-- Listado de recetas a la derecha -->
  <section>
    <div class="recipe-list">
      <% recetas.forEach((r, idx) => { %>
        <a href="/receta/<%= idx %>">
          <div><%= r.titulo %></div>
        </a>
      <% }) %>
    </div>
  </section>
</main>

<%- include("partials/footer") %>
